body{
  background: rgb(255,245,233);
  background: linear-gradient(90deg, rgba(255,245,233,1) 0%, rgba(255,210,158,1) 100%);
}

ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.card{
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px #00000012;
    padding: 20px;
}
.App {
  max-width: 800px;
  margin: 40px auto;
  background-color: #ffeeda;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
